
h1 {
  font-size: 2.2rem;
}
/* app container styling */
body {
  padding-left: 1rem;
  padding-right: 1rem;
  background: rgba(106, 104, 104, 0.915);
  color: #e4e4e4;
}

#mainContainer {
  display: flex;
  /* flex-direction: column; */
  /* border-style: solid; */
  border-color: white;
  justify-content: space-between;
  padding-left: 50px;
}

#workoutsContainer {
  /* border-style: solid; */
  /* border-color: white; */
  width: 1000px;
}
#history {
  /* border-style: solid; */
  border-color: white;
  width: 1000px;
  overflow: auto;
  height: 200px;
}

#notes {
  width: 300px;
  height: 100px
}

/* modal */
.modal {
  position: absolute;
  display: inline-block;
  padding: 0.8rem;
  color: black;
  background: #f3f3f3;
  border: 1px solid lightgray;
  border-radius: 5%;
  box-shadow: 1px 1px 5px rgba(22, 22, 22, 0.915);
}

.modalName {
  margin-top: 5px;
  margin-bottom: 5px;
}

.modalList {
  margin: 0;
}

.modalHeading {
  display: flex;
  justify-content: space-between;
}

/*
  MEDIA QUERIES
  0 - 600px - Mobile phones
  600 - 900px - Tablet portrait
  900 - 1200px - Tablet landscape
  1200 - 1800px - Desktop - normal styles
  1800px + Large desktop
*/
/* Mobile */
@media screen and (max-width: 600px) {
  .charContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .charCard .charPhoto {
    justify-content: flex-start;
  }
}

/* Tablet */
@media screen and (min-width: 601px) and (max-width: 900px) {
  .charContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Normal */
@media screen and (min-width: 901px) and (max-width: 1200px) {
  .charContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Lg Screen */
@media screen and (min-width: 1201px) {
  .charContainer {
    grid-template-columns: repeat(5, 1fr);
  }
}